.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  background-color: white;
  max-width: 1520px;
  margin: 0 auto;
  position: relative;
}
.menulists_container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.menulists {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
}
.menulists .link {
  color: #3f3f3f;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menulists .link:hover {
  color: #f72d57;
  transition: ease-in 0.12s;
  border-bottom: 2px solid #f72d57;
}
.button {
  border-radius: 5px;
  background: #f72d57;
  font-size: 22px;
  border: none;
  color: white;
  padding: 10px 26px;
}
.cart_moblie {
  display: none;
}
.bars_moblie {
  display: none;
  cursor: pointer;
}
@media (max-width: 640px) {
  .logo {
    width: 120px;
    height: 30px;
  }
  .menulists {
    display: none;
  }
  .button {
    display: none;
  }
  .cart_moblie {
    display: flex;
  }
  .logoarea {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .bars_moblie {
    display: flex;
    font-size: 35px;
  }
}
